---
---
<html>

<head>
  <meta http-equiv="Refresh" content="0; url=/{{site.year}}/">
</head>

<body>
  <p>Accediendo a la web de propuestas de la sala "Derechos Digitales y Privacidad en Internet + Soberanía Digital en las Aulas (Fuera Google)" de esLibre 2021...</p>
  <a rel="me" href="https://mastodon.technology/@interferencias"> </a>
</body>

</html>