---
layout: 2021/default
section: proposals
title: Propuestas para sala Derechos Digitales y Privacidad en Internet + Soberanía Digital en las Aulas (Fuera Google) de esLibre 2021
---

<script type="text/javascript">
    window.location = "https://interferencias.tech/eslibre/";
</script>


<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h3 class="main-header display-4" style="font-size: 35px !important;"><strong>Propuestas para sala Derechos Digitales y Privacidad en Internet + Soberanía Digital en las Aulas (Fuera Google) de es<span class="red">Libre</span> 2021</strong></h3>
  </div>
</div>
<hr class="my-4">

<p>
  Por ahora hemos aceptado las siguientes propuestas:
  <ul>
    <li><a href="charlas/">Charlas</a></li>
    <li><a href="talleres/">Talleres</a></li>
    <li><a href="otras/">Otras actividades</a></li>
  </ul>
</p>

<p>
  Puedes mandarnos tu propuesta para sala desde <a href="https://interferencias.tech/eslibre2021/" target="_blank">aquí</a>.
</p>

<p>
  <img src="/assets/images/eslibre_2021_small.png" width="700" style="display: block; margin: 0 auto;">
</p>
