---
layout: 2021/list
section: proposals
permalink: 2021/talleres/
title: Talleres aceptados
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Talleres aceptados</h1>
  </div>
</div>
<hr class="my-4">

<ul id="list">
  {% for workshop in site.pages %}
  {% if workshop.path contains '2021/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
  {% unless workshop.path contains 'cancelados' %}
  <li><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.author }} - {{ workshop.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
<p style="padding-bottom: 16.5em"></p>
